<!DOCTYPE html>
<html ng-app='M1App'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="index.css">
    <title>Expressions and Interpolation</title>
  </head>
  <body>

    <div ng-controller='M1Controller'>
       <div class="M1">
        <h1>Lunch checker</h1>
        <input type="text" ng-model="dishes" id="item1" placeholder="list comma separted dishes you usually have for lunch">
        <br><button id="btn" ng-click="checker();">check if too much</button>
        <br>
        {{message}}
       </div>
    </div>
  </body>
</html>